.ninja-tables-guten-wrapper {
    text-align: center;

    .ninja-tables-logo {
        img {
            height: 50px;
        }
    }

    .components-base-control__label {
        font-weight: 700;
    }
}
