@import "_element_icons.css";

.pageLoading {
  text-align: center;
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageLoading .fooicon {
  font-size: 20px;
}

.btn-flex {
  display: inline-flex !important;
  align-items: center;
}

.btn-flex .fooicon {
  margin-left: 5px;
}

/* GLOBAL STYLES */

h4 {
  margin-bottom: 0;
  font-size: 18px;
}

a.btn {
  text-decoration: none;
}

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.press_wrap {
  background: white;
  padding: 20px;
}

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#prescription_app {
  margin-right: 20px;
}

.mt_0 {
  margin-top: 0;
}

.edited_title {
  text-transform: capitalize;
}

.sb_container {
  max-width: 960px;
}

.mt_45 {
  margin-top: 45px;
}

body .form-horizontal .control-label {
  text-align: left;
}

.container {
  max-width: 960px;
}

/*prescription page*/

.pscp-profile-devide {
  display: flex;
  flex-wrap: nowrap;
}

.pscp-profile-devide-item {
  flex-grow: 1;
  flex-basis: 100%;
}

.pscp-profile {
  display: flex;
  align-items: stretch;
  padding-right: 15px;
  border-right: 2px solid #747575;
}

.pscp-profile-note {
  margin-left: 15px;
}

.pscp-profile-img {
  margin-right: 25px;
}

/*Prescription View page*/

.pscp-profile-holder {
  padding: 15px 0;
  border-bottom: 7px double #747575;
}

.pscp-items-title-wrap {
  display: flex;
  justify-content: space-between;
  h2 {
    margin-top: 0;
  }
}

.pscp-profile-meta .title {
  text-transform: capitalize;
}

.pscp-items-title-wrap {
  margin-top: 47px;
}

.pscp-items-title-meta .btn {
  background: #ddd;
  border: 2px solid #8f8f8f;
  padding: 10px 20px;
  color: #444;
  margin-right: 10px;
}

/*item style*/

.pscp-items-box {
  background-color: #fbfeff;
  padding: 17px 15px;
  position: relative;
  margin: 30px 0;
}

.pscp-items-box-title-wrap {
  height: 0px;
}

.pscp-items-box:before {
  content: '';
  border: 2px solid #757575;
  position: absolute;
  width: 100%;
  height: calc(100% - 2px);
  background: transparent;
  bottom: 0;
  left: 0;
}

.ps_edit-box {
  position: absolute;
  right: 10px;
}

.pscp-items-box-title-wrap .pscp-items-box-title {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: -46px;
  display: inline-block;
  background: #757575;
  padding: 5px 10px;
  color: white;
}

.modal-open .modal {
  z-index: 1000;
}

label.form_group {
  padding-top: 5px;
  padding-left: 10px;
}

.editr--toolbar .dashboard {
  box-sizing: border-box;
  padding: 0rem 0.5rem;
  .dropzone {
    max-height: 86px;
    min-height: 50px !important;
    background: #f6f6f6;
  }
}

.compact {
  .cell {
    .cell-content {
      height: 28px;
      overflow: hidden;
      white-space: normal;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      * {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
      }
    }
  }
}

.cell {
  .cell-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/*pagination*/

.paginate {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
}

.btn.pag-btn {
  background: #b2ccda;
  color: #fff;
  &:hover {
    opacity: .90;
    color: #fff;
    outline: none !important;
    box-shadow: none !important;
  }
  &:focus {
    color: #fff;
    outline: none !important;
    box-shadow: none !important;
  }
}

.pag-btn.is-active {
  background: #0073ae;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  &:focus, &.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
  }
  &:hover, &:active, &.active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
  &:active:hover, &.active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
  }
  &.disabled:hover, &[disabled]:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  &:focus, &.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
  }
  &:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* HELPER CLASSES */

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.wp-list-table > tbody > tr > td {
  vertical-align: middle;
}

.mb20 {
  margin-bottom: 20px;
}

.text-right {
  text-align: right;
}

/* MODAL STYLE */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1050;
  display: none;
  overflow: hidden;
  left: 0;
}

@media (min-width: 784px) {
  .modal {
    left: 36px;
  }
}

@media (min-width: 961px) {
  .modal {
    left: 160px;
  }
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.in {
    opacity: 1;
    .modal-dialog {
      margin-top: 40px;
    }
  }
}

.modal-dialog {
  position: relative;
  transition: all 0.35s linear;
  max-width: 840px;
  width: 100%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  h4 {
    margin-top: 0;
  }
  .close {
    margin-top: -2px;
  }
}

.modal-body {
  position: relative;
  padding: 15px;
  max-height: 65vh;
  overflow: auto;
}

.modal-footer {
  padding: 15px 0;
  text-align: right;
}

/* INPUT */

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  &::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  &:-ms-input-placeholder, &::-webkit-input-placeholder {
    color: #999;
  }
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  &[disabled], &[readonly] {
    background-color: #eee;
    opacity: 1;
  }
}

fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}

.form-control[disabled], fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
}

.input-group {
  display: table;
  position: relative;
  .form-control, .input-btn {
    display: table-cell;
    vertical-align: middle;
  }
  .form-control {
    float: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .input-btn {
    width: 1%;
    .btn {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

/* TABS */

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
  > li {
    position: relative;
    display: block;
    > a {
      position: relative;
      display: block;
      padding: 10px 15px;
      &:hover, &:focus {
        text-decoration: none;
        background-color: #eee;
      }
    }
    &.disabled > a {
      color: #777;
      &:hover, &:focus {
        color: #777;
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
      }
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  > li {
    float: left;
    margin-bottom: -1px;
    > a {
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      text-decoration: none;
      &:hover {
        border-color: #eee #eee #ddd;
      }
      &:focus {
        box-shadow: none;
      }
    }
    &.router-link-exact-active > a {
      color: #555;
      cursor: default;
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      &:hover, &:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
      }
    }
  }
}

.tab-content > {
  .tab-pane {
    padding: 20px 0;
  }
}

.form-group {
  margin-bottom: 15px;
}

.table-title {
  font-size: 18px;
  margin-bottom: 0;
}

/* vue notification */
.table_data_press {
  .help {
    font-size: 90%;
    color: gray;
    font-weight: 300;
  }
}

.row_full {
  overflow: hidden;
  .pull-left {
    float: left;
  }
}

.search_action {
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  input {
    width: 98%;
    font-size: 95%;
    padding-right: 30px;
  }
  i {
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 16px;
  }
}

.tablenav {
  clear: both;
  height: auto;
  margin: 6px 0 4px;
  vertical-align: middle;
  overflow: hidden;
  display: block;
  .form_group {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
  box-shadow: none;
}

.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}

ul.doc_items {
  margin-left: 45px;
  li {
    font-size: 14px;
    margin-bottom: 10px;
    list-style: disc;
    a {
      text-decoration: none;
    }
  }
}

.el-aside {
  background-color: #535c63;
  color: #333;
  line-height: 200px;
}

.el-main {
  background-color: white;
  color: black;
  min-height: 70vh;
  padding: 15px;
}

.el-menu-item.is-active {
  background-color: rgb(67,74,80) !important;
  color: white !important;
}

.ninja_header {
  //margin: -20px -20px 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eae7e7;
  background: #fbfdff;
}
.ninja_content {
  display: block;
  position: relative;
  width: 100%;
  .ninja_suggest {
    overflow: hidden;
    display: block;
    background: #e5e5e5;
    padding: 20px 10px;
    color: black;
    font-size: 18px;
    margin: 10px 0px;
    p {
      font-size: 16px;
      padding: 0px;
      margin: 0px;
    }
  }
  .ninja_block {
    p {
      font-size: 16px;
    }
  }
  .ninja_export_block {
    display: block;
    margin-top: 25px;
  }
  .ninja_block_section {
    margin: 20px 0px;
  }
}


.ninja_suggest_plugin {
  margin: 0px 0px 20px;
  padding: 20px;
  position: relative;
  background: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  width: 96%;
  margin-top: 40px;
  .ninja_dismiss {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }
  
  .ninja_form_banner {
    width: 35%;
    float: left;
    padding-right: 3%;
    margin: -20px 0px -24px -20px;
    @media (max-width: 768px) {
      width: 100%;
      margin: 0px;
      padding-right: 0px;
      float: none;
      display: block;
      margin-bottom: 10px;
    }
    img {
      max-width: 100%;
    }
  }
}




.ninja_doc_top_blocks {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  > * {
    box-sizing: border-box;
  }
  .block_1_3 {
    width: 33.33%;
    float: left;
    padding-right: 30px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      width: 100%;
      float: none;
      padding-right: 0px;
      margin-bottom: 30px;
    }
  }
  .ff_block {
    .ff_block_box {
      padding: 15px;
      background: white;
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,.05);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,.05);
      box-shadow: 0 0 5px rgba(0,0,0,.05);
      border-radius: 4px;
      img.block_icon {
        max-height: 62px;
      }
      ul {
        list-style: disc;
        margin-left: 20px;
        li a {
          font-size: 14px;
          text-decoration: none;
          line-height: 22px;
        }
      }
    }
  }
}

.pro_feature_dialog {
  .el-dialog {
    background: #fdf5f5;
  }
  .el-dialog__body {
    padding-top: 0px;
  }
  .buy_now_button {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
  }
  .list_features {
    margin-left: 45px;
    list-style: disc;
    font-size: 18px;
  }
}
.section_block {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  overflow: hidden;
}
.section_card {
  width: 48%;
  float: left;
  padding: 5px 10px;
  box-sizing: border-box;
  background: #ffffff;
  margin-right: 2%;
  cursor: pointer;
  position: relative;
  border: 3px solid #cccccc;
  h4 {
    margin-top: 10px;
  }
  &.expand_card {
    width: 30%;
    min-height: 120px;
    padding: 5px 10px;
  }
  .selected_ribbon {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 15px;
    background: #4CAF50;
    color: white;
    font-weight: bold;
  }
  &.selected_type {
    border: 5px solid #4CAF50;;
    background: #f6fff7;
  }
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.language_block .form_group {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
  label {
    display: block;
  }
  input {
    height: 32px;
    padding: 5px 10px;
    min-width: 400px;
  }
}

.text-warning {
  color: #e6a23c;
}

.actions {
  a {
    cursor: pointer;
  }
}

.card_block {
  overflow: hidden;
  display: block;
  width: 100%;
}

.ninja_section_block {
  background: white;
  box-sizing: border-box;
  margin-bottom: 0px;
  width: 100%;
  display: block;
  margin-top: 0px;
  .ninja_section_block_header {
    padding: 12px 20px;
    border-bottom: 2px solid #e8e4e4;
    border-top: 2px solid #e8e4e4;
    cursor: pointer;
    h3 {
      margin: 0px;
      display: inline-block;
    }
    .ninja_header_action {
      display: inline-block;
      float: right;
      span {
        cursor: pointer;
      }
    }
  }
  .ninja_section_block_body {
    padding: 10px 20px 20px;
    background: #fafafa;
    &.ninja_section_hide {
      display: none;
    }
  }
}
ul.ninja_render_features li {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
  span {
    color: #4caf4f;
  }
}
.ninja_settings_blocks {
  margin-top: 20px;
  .ninja_save_button {
    margin-top: 20px;
  }
}
.loading-wrapper {
  padding: 10px;
  background: white;
}

.text-center {
  text-align: center;
}

.ninja_sidebar {
  margin-top: 10px;
}

.add_column_wrapper {
  padding: 0 10px;
}

.ninja_widget {
  display: block;
  overflow: hidden;
  padding: 15px 10px;
  background: #f9f9f9;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  .title {
    margin: -15px -10px 0;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    padding: 8px 12px;
    line-height: 1.4;
    background: #434d53;
    color: white;
  }
  .widget_body {
    padding-top: 10px;
  }
  .button-block {
    width: 100%;
  }
}

.pull-right {
  float: right;
}

.section_widget {
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    overflow: hidden;
    padding: 10px 0;
    .title {
      float: left;
      padding: 0px;
      margin: 0px;
    }
    .inline_action {
      float: right;
    }
  }
  .widget_body {
    background: white;
    padding: 0px;
  }
}

.drawer {
  display: block;
  border-bottom: 1px solid #434a50;
  .drawer_body {
    padding: 10px;
    display: none;
    .form_group {
      // padding-right: 20px;
    }
  }
  .header {
    padding: 15px 10px;
    background: #535c63;
    color: white;
    //font-weight: bold;
    font-size: 17px;
    .edit_icon {
      float: right;
      font-size: 12px;
      cursor: pointer;
    }
    .handle {
      cursor: move;
      font-size: 20px;
      margin-right: 5px;
    }
  }

}

.form_group {
  overflow: hidden;
  margin-bottom: 10px;
  padding-right: 2px;
  > label {
    display: block;
  }
  .form_control {
    display: block;
    width: 100%;
  }
  .normalLabel {
    display: initial;
    font-weight: normal;
  }
  .mt5 {
    margin-top: 5px;
  }
}

.section-container {
  display: flex;
  width: 100%;
}

.section-column-9 {
  flex: 2;
  padding: 10px;
}

.section-column-3 {
  flex: 1;
}

/* mobile layout */
@media (max-width: 480px) {
  .section-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 100%;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-orient: vertical;
    -webkit-orient: vertical;
    orient: vertical;
  }
  .section-column-9 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .section-column-3 {

    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}

.section-column:first-child {
  margin-right: 20px;
}

.tooltip {
  display: block !important;
  padding: 4px;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    display: none;
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.help_section {
  margin-top: 45px !important;
}

.ninja_widget {
  label {
    font-weight: 400;
  }
}

.ninja_style_wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  .ninja_column {
    flex: 1 100%;
  }
  .ninja_column:first-child {
    margin-right: 15px;
  }
  .ninja_column:last-child {
    margin-left: 15px;
  }
} 

.ninja_color_blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  .ninja_color_block {
    flex: 1 100%;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #cacaca;
    background: #fffafa;
    .form_group {
      margin: 0px;
      .el-color-picker {
        width: 100%;
        height: 30px;
        .el-color-picker__trigger {
          min-width: 100px;
          height: 30px;
        }
      }
    }
    label {
      padding: 0px;
      margin: 0;
      font-size: 11px;
    }
  }
}
.form_group.ninja_color_customization h4 {
  display: block;
  overflow: hidden;
  margin-top: 0px;
}
.ninja_inner_title {
  margin: 0 0 10px;
  font-size: 15px;
  color: #636060;
}
.ninja_header {
  overflow: hidden;
  justify-content: space-between;
  align-items: center;

  h2 {
    display: inline-block;
    margin: 0px;
  }
  .ninja_actions_action {
    float: right;
  }
}

.ninja_design_wrapper {
  display: flex;
  padding-bottom: 20px;
  background: white;
  .design_controls {
    flex: 1;
    background: #e5e5e5;
    margin: 0px 0px -20px;
    border-left: 1px solid #e5e5e5;
    .form_group:not(:last-child) {
      border-bottom: 1px solid rgba(229, 229, 229, 0.45);
      padding-bottom: 10px;
    }
    .el-collapse-item__header {
      padding: 0px 0px 0px 15px;
      i {
        font-weight: bold;
        padding-top: 18px;
      }
    }
    .el-collapse-item__wrap {
      padding: 13px 15px 0px;
      background: #e5e5e5;
      height: auto;
      overflow: scroll;
    }
    .el-radio-button--mini .el-radio-button__inner {
      padding: 7px !important;
    }
  }
  .design_preview {
    background: white;
    padding: 10px 20px;
    flex: 2;
    max-height: 800px;
    overflow: scroll;
  }
}

.ninja_title_section {
  .ninja_title {
    h3 {
      display: inline-block;
    }
    display: inline-block;
  }
  button {
    float: right;
    margin-top: 10px;
  }

}
.ninja_switch_wrapper {
  margin: 20px 0px;
}
.ninja_mini {
  padding: 2px 7px;
  color: #0073aa;
  font-size: 10px;
}
.ninja_resp_tabs {
  span.dashicons {
    font-size: 13px;
    width: 15px;
    height: 10px;
  }
}
input.form-control::placeholder {
  color: #dddddd;
}
.search_action input::placeholder {
  color: #969292;
}

.upgrade_box {
  text-align: center; 
  margin-top: 10px;
  a {
    text-decoration: none;
    i {
      margin-top: -5px;
      font-size: 20px;
      height: 10px;
    }
  }
}
.ninja_upgrade_bar {
  margin: -10px -20px 0px;
  background: #f35a59;
  padding: 10px 20px;
  overflow: hidden;
  color: white;
  a {
    color: #f35a59;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    background: white;
    border: 1px solid white;
    &:hover {
      color: white;
      background-color: #f35a59;
      border: 1px solid white;
      transition: background-color 0.3s ease;
    }
  }
}
.ninja_btn {
  text-decoration: none;
}

.label-normalize label {
  font-weight: normal;
}

.ninja_design_tips {
  color: red;
  padding: 10px 10px;
  background: white;
  border: 1px solid red;
  ul.ninja_design_tips_lists {
    margin: 0;
  }
}

.el-checkbox-group {
  overflow: hidden;
  width: 100%;
  label.el-checkbox {
    display: inline-block;
    margin-left: 0px;
    margin-right: 20px;
  }
}

.el-dialog__wrapper {
  background: rgba(0, 0, 0, 0.55);
  z-index: 9999 !important;
}

.ninja_modal-body {
  h3 {
    margin: 0;
  }
}
.handle {
  cursor: move;
}