table.foo-table.inverted {
  
  &.table{
    a {
      color: rgba(255, 255, 255, 0.7);
    }
    a.checkbox {
      color: black;
    }
  }
  
  /*-------------------
         Colors
  --------------------*/
  /* Red */
  &.red.table {
    background-color: #DB2828 !important;
    color: #FFFFFF !important;
  }

  /* Orange */
  &.orange.table {
    background-color: #F2711C !important;
    color: #FFFFFF !important;
  }

  /* Yellow */
  &.yellow.table {
    background-color: #FBBD08 !important;
    color: #FFFFFF !important;
  }

  /* Olive */
  &.olive.table {
    background-color: #B5CC18 !important;
    color: #FFFFFF !important;
  }

  /* Green */
  &.green.table {
    background-color: #21BA45 !important;
    color: #FFFFFF !important;
  }

  /* Teal */
  &.teal.table {
    background-color: #00B5AD !important;
    color: #FFFFFF !important;
  }

  /* Blue */
  &.blue.table {
    background-color: #2185D0 !important;
    color: #FFFFFF !important;
  }

  /* Violet */
  &.violet.table {
    background-color: #6435C9 !important;
    color: #FFFFFF !important;
  }

  /* Purple */
  &.purple.table {
    background-color: #A333C8 !important;
    color: #FFFFFF !important;
  }

  /* Pink */
  &.pink.table {
    background-color: #E03997 !important;
    color: #FFFFFF !important;
  }

  /* Brown */
  &.brown.table {
    background-color: #A5673F !important;
    color: #FFFFFF !important;
  }

  /* Grey */
  &.grey.table {
    background-color: #767676 !important;
    color: #FFFFFF !important;
  }

  /* Black */
  &.black.table {
    background-color: #1B1C1D !important;
    color: #FFFFFF !important;
  }


  /*--------------
      Inverted
  ---------------*/


  /* Text Color */
  &.table {
    background: #333333;
    color: rgba(255, 255, 255, 0.9);
    border: none;
  }
  &.table th {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 255, 255, 0.1) !important;
    color: rgba(255, 255, 255, 0.9) !important;
  }
  &.table tr td {
    border-color: rgba(255, 255, 255, 0.1) !important;
  }
  &.table tr.disabled td,
  &.table tr td.disabled,
  &.table tr.disabled:hover td,
  &.table tr:hover td.disabled {
    pointer-events: none;
    color: rgba(225, 225, 225, 0.3);
  }

  /* Definition */
  &.definition.table tfoot:not(.full-width) th:first-child,
  &.definition.table thead:not(.full-width) th:first-child {
    background: #FFFFFF;
  }
  &.definition.table tr td:first-child {
    background: rgba(255, 255, 255, 0.02);
    color: #ffffff;
  }


&.table-striped  tbody  tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

&.table-hover > tbody > tr:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

  /*******************************
           Site Overrides
  *******************************/
  & {
    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
      background-color: rgba(0, 0, 0, 0.15);
      border-color: rgba(255, 255, 255, 0.1) !important;
      color: rgba(255, 255, 255, 0.9) !important;
      -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .pagination a.footable-page-link {
      color: rgba(0, 0, 0, 0.5);
    }
    .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.1) !important;
      color: rgba(255, 255, 255, 0.9) !important;
    }
  }
}