.foo-table {
  &.footable.table > thead > tr > th {
    padding: 0.92857143em 0.78571429em;
  }

  th.footable-editing {
    width: auto !important;
  }

  td.footable-editing {
    width: auto !important;

    .btn-group {
      button {
        padding: 1px 5px;
        margin: 0;
        border-radius: 3px;

        &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  .form-inline {
    display: block !important;
    margin-bottom: 0;
  }

  &.ninja_search_left {
    tr.footable-filtering .form-inline {
      text-align: left;
    }
  }

  &.ninja_search_right {
    tr.footable-filtering .form-inline {
      text-align: right;
    }
  }

  &.ninja_search_center {
    tr.footable-filtering .form-inline {
      text-align: center;
    }
  }

  td.ninja_temp_cell {
    display: none !important;
  }

  span.label.label-default {
    display: none;
    visibility: hidden;
  }

  &.footable-paging-right {
    .footable-pagination-wrapper {
      text-align: right;
    }
  }

  &.footable-paging-center {
    .footable-pagination-wrapper {
      text-align: center;
    }
  }

  &.footable-paging-left {
    .footable-pagination-wrapper {
      text-align: left;
    }
  }

  .footable-pagination-wrapper .pagination:before {
    content: none !important;
  }

  .footable-pagination-wrapper .pagination:after {
    content: none !important;
  }

  table.footable-details tr th {
    white-space: initial;
    overflow: visible !important;
    text-overflow: unset !important;
  }

  tr.footable-filtering th {
    overflow: visible !important;
  }

  .pagination {
    border: none;
    padding: 0px;
    font-weight: 500;
  }

  button.btn.btn-default.dropdown-toggle {
    top: 0;
    right: 0px;
    left: 0px;

    &:after {
      content: "";
      display: none !important;
    }
  }

  li.dropdown-header {
    padding-left: 20px;
    padding-bottom: 5px;
    color: #333333;
  }

  ul.dropdown-menu.dropdown-menu-right li:last-child a {
    border-bottom: 0px !important;
    box-shadow: none;
  }

  ul.dropdown-menu.dropdown-menu-right li a:hover {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
  }

  span.footable-toggle {
    cursor: pointer;
  }

  &.ninjatable_hide_header_row > thead tr.footable-header {
    display: none !important;
    visibility: hidden;
  }

  &.hide_all_borders.table {
    border-color: transparent;

    thead {
      border-color: transparent !important;

      tr, td, tr > th {
        border-color: transparent !important;
        border-width: 0px !important;
      }
    }

    tbody {
      th, td, th {
        border-color: transparent !important;
      }
    }

    tfoot {
      tr > td {
        border-color: transparent !important;
        border: 0px !important;
      }
    }
  }

  &.ninja_table_search_disabled > thead tr.footable-filtering .footable-filtering-search {
    display: none !important;
    visibility: hidden !important;
  }

  .form-group.footable-filtering-search .input-group-btn > button {
    margin: 0px !important;
    height: auto !important;
    padding: 6px 12px !important;
  }

  .form-group.footable-filtering-search input.form-control {
    margin-bottom: 0px !important;
  }

  tbody tr.footable-detail-row {
    > td {
      padding: 5px !important;
    }

    td {
      table.footable-details {
        margin-bottom: 0px;

        tbody tr:nth-child(even) {
          background: #f7f7f7 !important;
        }
      }
    }

    table.inverted {
      tbody {
        tr {
          background: white !important;
          color: black
        }
      }
    }
  }

  tbody tr td {
    a, p, h1, h2, h3 {
      margin: 0;
      padding: 0;
    }
  }

  img {
    max-width: 100%;
  }

  tbody tr {
    td, th {
      background-color: transparent;
    }

    &:nth-child(2n) {
      td, th {
        background-color: transparent;
      }
    }

    &:nth-child(2n + 1) {
      td, th {
        background-color: transparent;
      }
    }
  }
}

.footable_parent {
  overflow-x: auto;
  width: 100%;

  table.foo-table {
    &.vertical_centered {
      thead > tr > th,
      tbody > tr > td {
        vertical-align: middle;
      }
    }
  }
}

.ninja_table_pro {
  table.footable-details {
    tr.nt_has_hide {
      display: none !important;
    }
  }

  &.nt_hide_breakpoint_labels {
    table.footable-details tbody > tr > th {
      display: none;
    }
  }

  &.nt_search_full_width {
    .form-group.footable-filtering-search {
      width: 100%;
      .input-group {
        display: block;
        position: relative;
        > .form-control {
          display: inline-block;
          float: none;
        }
        .input-group-btn {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 999999;
        }
      }
    }
  }
}

.loading_ninja_table1 {
  width: 100%;
  height: 200px;
  background: gray !important;

  table {
    display: none;
  }
}

/* Ninja table columns visibility */
table.ninja_footable col, table.ninja_footable > thead > tr > th {
  &.hidden {
    display: none !important;
  }

  @media (max-width: 767px) {
    &.xs {
      display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    &.sm {
      display: none;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    &.md {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    &.lg {
      display: none;
    }
  }
}

// Styles For Filtering
.ninja_table_wrapper {
  table thead .footable-filtering {
    .ninja_custom_radio, .ninja_custom_select_checkbox {
      > label {
        @media (max-width: 767px) {
          display: block;
        }
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        input {
          margin-right: 10px;
        }
      }

      label.ninja_filter_title {
        margin-right: 0;
      }
    }

    .ninja_filter_title {
      margin-right: 10px;
    }
  }

  .ninja_table_afd_columns {
    thead .footable-filtering th .form-inline {
      display: block;
      width: 100%;

      > .form-group {
        text-align: left;

        .form-control, .input-group {
          width: 100%;
        }

        > .ninja_filter_title {
          display: block;
          font-weight: bold;
        }

        &.ninja_reset_wrapper {
          margin-top: 24px;
        }

        .input-group {
          width: 100%;

          .input-group-btn {
            width: 70px !important;
          }
        }

        .ninja_filter_date_range, .ninja_filter_number_range {
          width: 49%;
          margin: 0 2% 0 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .ninja_filter_title {
        margin-right: 0;
      }

      .ninja_filter_date_from, .ninja_filter_number_from {
        margin-right: 10px;
      }

      .ninja_filter_date_from, .ninja_filter_number_from, .ninja_filter_date_to, .ninja_filter_number_to {
        margin-bottom: 5px;
      }

      .form-group.footable-filtering-search {
        margin-top: 24px !important;
      }
    }
  }

  .ninja_table_afcs_columns_2 {
    thead .footable-filtering th .form-inline {
      > .form-group {
        margin: 0 0 20px;
        width: 49%;
        padding: 0 15px 0 0;
        float: left;

        &:last-child {
          padding-right: 0;
        }

        @media (max-width: 767px) {
          width: 100%;
          float: none;
          padding-right: 0;
        }

        &:nth-child(2n + 1) {
          clear: both;
        }
      }
    }
  }

  .ninja_table_afcs_columns_3 {
    thead .footable-filtering th .form-inline {
      > .form-group {
        margin: 0 0 20px;
        width: 33.3%;
        padding: 0 15px 0 0;
        float: left;

        &:last-child {
          padding-right: 0;
        }

        @media (max-width: 767px) {
          width: 100%;
          float: none;
          padding-right: 0;
        }

        &:nth-child(3n + 1) {
          clear: both;
        }
      }
    }
  }

  .ninja_table_afcs_columns_4 {
    thead .footable-filtering th .form-inline {
      > .form-group {
        margin: 0 0 20px 0;
        width: 24.9%;
        padding: 0 15px 0 0;
        float: left;

        &:last-child {
          padding-right: 0;
        }

        @media (max-width: 767px) {
          width: 100%;
          float: none;
          padding-right: 0;
        }

        &:nth-child(4n + 1) {
          clear: both;
        }
      }
    }
  }

  .ninja_reset_button {
    color: rgb(255, 255, 255);
    background: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);

    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(200, 35, 51);
      border-color: rgb(189, 33, 48);
    }
  }

  .ninja_table_afd_inline {
    thead .footable-filtering th .form-inline {
      display: block;
      width: 100%;

      > .form-group {
        margin-bottom: 10px;
      }
    }
  }

  .ninja_table_buttons {
    display: block;
    overflow: hidden;
    clear: both;

    &.ninja_buttons_left {
      text-align: left;
    }

    &.ninja_buttons_center {
      text-align: center;
    }

    &.ninja_buttons_right {
      text-align: right;
    }

    &.after_search_box {
      margin-top: 10px;
    }

    &.before_table {
      margin-bottom: 10px;
    }

    .ninja_button {
      border-radius: 0;
      border-right: 1px solid;
      padding: 5px 10px;

      &:last-child {
        border-right: none;
      }
    }
  }

}

@media print {
  .ninja_table_print_view {
    .footable_parent {
      overflow-x: hidden !important;
      width: 100%;
    }

    .footable-editing {
      display: none !important;
    }
  }
}
