.foo-table  {
  &.footable.table > thead > tr > th {
    padding: 0.92857143em 0.78571429em;
  }
  td.ninja_temp_cell {
    display: none !important;
  }
  span.label.label-default {
    display: none;
    visibility: hidden;
  }

  &.footable-paging-right {
    .footable-pagination-wrapper {
      text-align: right;
    }
  }
  &.footable-paging-center {
    .footable-pagination-wrapper {
      text-align: center;
    }
  }
  &.footable-paging-left {
    .footable-pagination-wrapper {
      text-align: left;
    }
  }

  table.footable-details tr th {
      white-space: initial;
      overflow: visible !important;
      text-overflow: unset !important;
  }
  tr.footable-filtering th {
    overflow: visible !important;
  }
  .pagination {
    border: none;
    padding: 0px;
    font-weight: 500;
  }
  button.btn.btn-default.dropdown-toggle {
    top: 0;
    right: 0px;
    left: 0px;

    &:after {
      content: "";
      display: none !important;
    }
  }

  li.dropdown-header {
    padding-left: 20px;
    padding-bottom: 5px;
    color: #333333;
  }
  ul.dropdown-menu.dropdown-menu-right li:last-child a {
    border-bottom: 0px !important;
    box-shadow: none;
  }
  ul.dropdown-menu.dropdown-menu-right li a:hover {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
  }
  span.footable-toggle {
    cursor: pointer;
  }
  &.ninjatable_hide_header_row > thead tr.footable-header {
    display: none !important;
    visibility: hidden;
  }
  &.hide_all_borders.table {
    border-color: transparent;
    thead {
      border-color: transparent !important;
      tr, td, tr > th {
        border-color: transparent !important;
        border-width: 0px !important;
      }
    }
    tbody {
      th, td, th {
        border-color: transparent !important;
      }
    }
    tfoot {
      tr > td {
        border-color: transparent !important;
        border: 0px !important;
      }
    }
  }

  &.ninja_table_search_disabled > thead tr.footable-filtering .footable-filtering-search {
    display: none !important;
    visibility: hidden !important;
  }
  .form-group.footable-filtering-search .input-group-btn > button {
    margin: 0px !important;
    height: auto !important;
  }
  .form-group.footable-filtering-search input.form-control {
    margin-bottom: 0px !important;
  }
  tbody tr.footable-detail-row {
    > td {
      padding: 5px !important;
    }
    td {
      table.footable-details {
        margin-bottom: 0px;
        tbody tr:nth-child(even) {
          background: #f7f7f7 !important;
        }
      }
    }
    table.inverted {
      tbody {
        tr {
          background: white !important;
          color: black
        }
      }
    }
  }

  tbody tr td {
    a, p, h1, h2, h3 {
      margin: 0;
      padding: 0;
    }
  }

}

.footable_parent {
  overflow-x: auto;
  width: 100%;
  table.foo-table {
    &.vertical_centered {
      thead > tr > th,
      tbody > tr > td
      {
        vertical-align: middle;
      }
    }
  }
}

.loading_ninja_table1 {
  width: 100%;
  height: 200px;
  background: gray !important;
  table {
    display: none;
  }
}

.ninja_custom_select_radio, .ninja_custom_select_checkbox {
  label {
    &:nth-child(2) {
      margin-left: 5px;
    }
    margin-right: 10px;
    &:last-child {
      margin-right: 5px;
    }
  }
}

/* Ninja table columns visibility */
table.ninja_footable col {
  &.hidden {
    display: none !important;
  }

  @media (max-width: 767px) {
    &.xs {
      display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    &.sm {
      display: none;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    &.md {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    &.lg {
      display: none;
    }
  }
}