.foo-table  {
  span.label.label-default {
    display: none;
    visibility: hidden;
  }
  
  table.footable-details tr th {
      white-space: initial;
      overflow: visible !important;
      text-overflow: unset !important;
  }
  tr.footable-filtering th {
    overflow: visible !important;
  }
  .pagination {
    border: none;
    padding: 0px;
    font-weight: 500;
  }
  button.btn.btn-default.dropdown-toggle {
    right: 0px;
    left: 0px;
  }
  
  li.dropdown-header {
    padding-left: 20px;
    padding-bottom: 5px;
    color: #333333;
  }
  ul.dropdown-menu.dropdown-menu-right li:last-child a {
    border-bottom: 0px !important;
    box-shadow: none;
  }
  ul.dropdown-menu.dropdown-menu-right li a:hover {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 1);
  }
  span.footable-toggle {
    cursor: pointer;
  }
  
}

.footable_parent {
  overflow-x: auto;
}